form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.scroll {


    height: 400px;
    background: #f1f1f1;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;

}
